.Details h1{
   font-family: "oswald";
   font-weight: 600;
   color:"#48304D";
   
}

.Details h2{
    font-family: "inter";
    font-weight: 600;
    color:"#48304D";
    
 }
 
 .Details h3{
    font-family: "inter";
    font-weight: 600;
    color:"#48304D";
    
 }

 .Details p{
    font-family: "inter";
    font-weight: 300;
    
 }



