@keyframes fade-left-right {
    0% {
      background-position: left center;
    }
    100% {
      background-position: right center;
    }
  }
  
  @keyframes fade-right-left {
    0% {
      background-position: right center;
    }
    100% {
      background-position: left center;
    }
  }
  
  .fade-left-right {
    background: linear-gradient(90deg, rgba(253, 180, 71, 1) 0%, rgba(255, 255, 255, 1) 100%);
    animation: fade-left-right 3s forwards;
  }
  
  .fade-right-left {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(196, 196, 196, 1) 100%);
    animation: fade-right-left 3s forwards;
  }
  
  .fade-left-right1 {
    background: linear-gradient(90deg, #879797 40%, rgba(255, 255, 255, 1) 100%);
    animation: fade-left-right 3s forwards;
  }
  
  